#container {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
}

#logo {
    margin-left: 50px;
    font-size: 18px;
    font-weight: 600;
}
.navs {
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}
.link{
    padding: 20px;

    
}

